<div class="profile-container">

  <div class="profile-header">
    <div class="header-title">Профіль</div>
  </div>
  <div class="header-divider"></div>

  <div class="form-wrapper">
    <form [formGroup]="profileForm" (ngSubmit)="onSave()">
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Ім'я користувача</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Ім'я</mat-label>
        <input matInput formControlName="firstname" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Прізвище</mat-label>
        <input matInput formControlName="lastname" />
      </mat-form-field>


      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Електронна пошта</mat-label>
        <input matInput [value]="email" disabled />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Зберегти</button>
    </form>
  </div>
</div>
