<div class="display-container">
  <!-- Якщо вибрано сьогодні -->
  <ng-container *ngIf="getDisplayTitle() === 'СЬОГОДНІ'; else dateSelected">
    <!-- СЬОГОДНІ -->
    <div class="display-section">
      <h3 class="section-title">{{ getDisplayTitle() }}</h3>
      @for (task of todayTasks; track task.id) {
        <div class="display-group">
          <div class="display-field">{{ task.name }}</div>
        </div>
      } @empty {
        <div class="display-group">Завдань немає</div>
      }
    </div>

    <!-- ЗАВТРА -->
    <div class="display-section">
      <h3 class="section-title">ЗАВТРА</h3>
      @for (task of tomorrowTasks; track task.id) {
        <div class="display-group">
          <div class="display-field">{{ task.name }}</div>
        </div>
      } @empty {
        <div class="display-group">Завдань немає</div>
      }
    </div>

    <!-- ТИЖДЕНЬ -->
    <div class="display-section">
      <h3 class="section-title">ТИЖДЕНЬ</h3>
      @for (task of weekTasks; track task.id) {
        <div class="display-group">
          <div class="display-field">{{ task.name }}</div>
        </div>
      } @empty {
        <div class="display-group">Завдань немає</div>
      }
    </div>
  </ng-container>

  <!-- Якщо вибрана дата відмінна від сьогодні -->
  <ng-template #dateSelected>
    <!-- ПОДІЇ -->
    <div class="display-section">
      <h3 class="section-title">ПОДІЇ</h3>
      @for (event of events; let isLast = $last ; track event.eventId) {
        <div class="display-group">
          <app-event [event]="event" />
        </div>
      } @empty {
        <div class="display-group">Подій немає</div>
      }
    </div>

    <!-- ЗАВДАННЯ -->
    <div class="display-section">
      <h3 class="section-title">ЗАВДАННЯ</h3>
      @for (task of selectedDateTasks; track task.id) {
        <div class="display-group">
          <div class="display-field">{{ task.name }}</div>
        </div>
      } @empty {
        <div class="display-group">Завдань немає</div>
      }
    </div>
  </ng-template>
</div>
