<div class="main-wrapper">
  <div class="header-icons">
    <mat-icon class="add-icon" (click)="addEvent()">add_circle_outline</mat-icon>
  </div>

  <div class="list-container">
    <!-- Якщо подій немає -->
    <div *ngIf="events.length === 0" class="empty-message">
      Додайте свою першу подію
    </div>

    <!-- Якщо події є -->
    <mat-card class="list-item" *ngFor="let event of events" (click)="goToEvent(event)" style="cursor: pointer;">
      <div class="card-content">
        <span class="card-title">{{ event.name }}</span>

        <!-- Меню кнопка -->
        <button
          mat-icon-button
          class="more-options"
          [matMenuTriggerFor]="menu"
          (click)="selectedEvent = event; $event.stopPropagation()"
        >
          <mat-icon>more_horiz</mat-icon>
        </button>
      </div>
    </mat-card>

    <!-- Меню -->
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="editEvent()">
        <mat-icon>edit</mat-icon>
        <span>Редагувати</span>
      </button>
      <button mat-menu-item (click)="deleteEvent()">
        <mat-icon>delete</mat-icon>
        <span>Видалити</span>
      </button>
    </mat-menu>
  </div>
</div>
