<div class="notifications-page">
  <h2 class="notifications-page-header">Сповіщення</h2>
  <p *ngIf="notifications.length < 1">Сповіщень немає</p>
  <div class="notification-list">
    <div *ngFor="let notif of notifications" class="notification"
         [ngClass]="!notif.read ? 'clickableNotification' : ''"
    >
      <div class="notifications-header"
           [ngClass]="notif.read ? 'readHeader' : 'notReadHeader'">
        <h3 class="notification-title">{{notif.title}}</h3>
      </div>
      <div [ngClass]="notif.read ? 'readContent' : 'notReadContent'">
        <p class="notification-description">{{notif.message}}</p>
        <p class="notification-description">Коли? {{notif.deadlineAt | date:"medium"}}</p>
        <small class="notification-description">Надіслано {{notif.sentAt | date:"medium"}}</small>
      </div>
    </div>
  </div>
</div>
