.container {
  display: flex;
  flex-direction: row;
}

.sidebar{
  position: relative;
  height: 100vh;
  max-width: 230px;
  background-color: #F7E2E1;
  border-right: 1px solid #e0e0e0;
  box-shadow: 2px 0 4px rgba(0,0,0,0.1);
  overflow: hidden;
}

.main-content {
  flex: 1;
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  width: calc(100% - 230px);
  height: 100vh;
  overflow-y: auto;
}

